.form-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
}
.wrapperForm {
	margin-top: 20px;
}
.success {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.form-container label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-container input,
.form-container select {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-container button {
	padding: 10px 20px;
	background-color: #0070f3;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.form-container button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.success-message {
	padding: 10px;
	margin-top: 20px;
	background-color: #7eff7e;
	border: 1px solid #00b300;
	border-radius: 4px;
	text-align: center;
}

.success-message button {
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #0070f3;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.success-message button:hover {
	background-color: #005cb2;
}
